* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    display: flex;
    background-image: url('./image/umcBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.login_box {
    display: flex;
    flex-direction: column;  /* 각 요소들 위아래로 배치하기 위해 */
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 55%;
    height: 65%;
    background-color: rgb(255, 255, 255, 0.6);
}
.first_h{
    font-size: 40px;
}
#login_line {
    width: 40%;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 40px;
    background-color: transparent
}
.make_line {
    width: 30%;
    height: 1px;
    margin-top: 1px;
    background-color: transparent
}
.input_block {
    background-color: transparent;
    border: none;
    width: 20%;
    height: 10%;
    margin-right: 50px;
}
.button_block {
    margin-top: 50px;
    border: none;
    color: aliceblue;
    border-radius: 10px;
    background: black;
    width: 30%;
    height: 10%;
}
footer{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.links {
    display: inline;
    text-decoration: none;
    color:black;
}
.v_line {
    border-right: 10px;
}