* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  background-image: url('background.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.5;
  /*
  width: 30%;
  height: 70%;
  */
  width: 400px;
  height: 600px;
  border-radius: 15px 15px 15px 15px;
  gap: 10px;
}

.box-title {
  font-weight: bold;
  font-size: 40px;
}

.hr {
  width: 70%;
  background-color: grey;
  margin-bottom: 10px;
}

.submit-button {
  background-color: rgb(73, 73, 73);
  color: white;
  width: 200px;
  height: 45px;
  margin: auto;
  display: block;
  font-size: 17px;
  border-radius: 10px 10px 10px 10px;
}

.interval {
  height: 30px;
}

.login-footer {
  margin-top: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.user-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 13px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-bottom: 0px;
}

.hidden {
  display: none;
  /*visibility:hidden;*/
}
.hidden-label {
  /*display: none;*/
  visibility: hidden;
}

input {
  width: 230px;
  height: 32px;
  color: grey;
  background-color: transparent;
  font-size: 15px;
  border: 1.5px solid rgb(145, 134, 134);
  padding-left: 10px;
  border-radius: 10px 10px 10px 10px;

  /*position: relative;*/ /* absolute relative*/
  display: flex;
  text-align: left;
}

/*
input[id="name"] {
  position: relative;
  top: 28px;

}

input[id="nickname"] {

}

input[id="email"] {
  position: relative;
  top: 28px;

}

input[id="pw"] {
  position: relative;
  top: 28px;

}

input[id="pw-check"] {
  position: relative;
  top: 28px;

}
*/

input::placeholder {
  color: grey;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
