* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    width: 100vw;
    height: 100vh;
}

/*버튼을 감싸는 영역*/
#btnWrap {
    width: 200px;
    margin-top: 20px;
    margin-left: 5px;
}

/*버튼 디자인*/
#popupBtn {
    width: 80px;
    height: 30px;
}

/*모달팝업을 감싸고 있는 최상위 부모*/
#modalWrap {
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); 
}

/*모달 팝업창*/
#modalBody {
    width: 400px;
    height: 200px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
}

/*닫기 버튼*/
#closeBtn {
    float:right;
    font-weight: bold;
    color: #777;
    font-size:15px;
}